body {
	background-color: red;
}
.burp {
	width: 100px;
	height: 100px;
	background-color: aqua;
	display: flex;
	margin: auto;
}
html  {background-color: rgb(29, 69, 156)
}
#doc3
 {
    margin: auto 10px;
    width: auto;
    height: 2000px;
    background-color: yellow;
}